body {
    background-image: url("../assets/img/winter.jpg");
    background-size: cover;
}

p {
    color: white;
    font-size: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}
.title{
    text-align: left;
    color: white;
    top: 0px;
    margin-top: -50px;
}
#navbarTop ul{
    display: inline;   
}
.nav{
    color: white;
    display: inline-block;
    padding: 100px;
    width: 30px;
    height: 5px;
    margin: 10px;
    margin-left: -100px;
    margin-top: -5000px;
    font-size: 50px;
}