body {
    background-image: url("../assets/img/winter.jpg");
    background-size: cover;
}

p {
    color: darkgreen;
    font-size: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    color: fuchsia;
}
.title{
    text-align: left;
    color: azure;
    top: 0px;
}
#navbarTop ul{
    display: inline;   
}
.nav{
    display: inline-block;
    padding: 100px;
    margin-left: 0px;
    width: 30px;
    height: 5px;
    margin: 10px;
    font-size: 50px;
}