body {
    background-image: url("../assets/img/laneInTheSea.jpg");
    background-size: cover;
}

p {
    color: darkgoldenrod;
    font-size: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    color: fuchsia;
}
.title{
    text-align: center;
    color: azure;
}