#menu{
    height:60px;
    background-color:#1abc9c;
}
#menu ul{
    margin:0;
    padding:0;
    margin-left: 350px;
}
#menu li{
    list-style-type: :none;
    float:left;
    display:block;
    width:150px;
    height:60px; /*same height as the menu div*/
    text-align: center;
    line-height: 55px;  
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    margin-left: 30px;
}
#menu li a{ /*--> for the underline*/
    text-decoration: none; 
    color:#fff;
}
#menu li:Hover{
    background-color: #3498db;
}