/* https://www.youtube.com/watch?v=_fukWxTy31M#t=1712.1226 */
/* css to smgth-->learning how to make the menu thing*/
body{
     margin: 0 auto;
     background: url("http://i.imgur.com/Bp04i9Y.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
}
#container{
    width: auto;  /*generally 800px*/
    height:auto;
    margin:auto;
    margin-top: 1px; /*from the top of the pg*/
    margin-bottom:21px; /*margin all the way ard the webpg when the screen size changes*/
}
#header{
    height:150px;
    background-color: none;
    font-size: 120px;
    padding-left: 30px;
}
#mainbody{
    background-image:none;
    background-repeat: no-repeat;
    background-size: 100%;
    width:800px;
    height:800px;
    /*background-color: #03c;*/
}
#footer{
    height:100px;
    margin-bottom: 21px;
    background-color:none;
    clear:both; clear the floating mainbody&sidebar
}
#bluebox{
    width: 530px;
    height: 400px;
    text-align: center;
    margin:0 auto;
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin-top: 150px; /*supp to be 150 but backgrd:( */ 
    margin-left: 375px;
    padding-top: 50px;
}
#Faculty{
    height: 45px;
    width: 340px;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: #fff;
    padding-left: 0px;
    border-radius: 4px;
    border: none;
    text-align-last:center;
    cursor:pointer;
 }
#Majors{
    height: 45px;
    width: 390px;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: #fff;
    padding-left:0px;
    border-radius: 4px;
    border: none;
    text-align-last:center;
    cursor:pointer;
}
#Specialization{
    height: 45px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 40px;
    background-color: #fff;
    padding-left:0px;
    border-radius: 4px;
    border: none;
    text-align-last:center;
    cursor:pointer;
}
#next{
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #1e434d;
    border-bottom: 4px solid #102328;
    margin-bottom: 20px;
    cursor:pointer;
    font-size: 18px;
}
.info{
    font-size: 30px;
}
#next{
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #1e434d;
    border-bottom: 4px solid #102328;
    margin-bottom: 20px;
    cursor:pointer;
    font-size: 18px;
}