/*style.css*/
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* Above line is used for online google font */
body{
     margin: 0 auto;
     background: url("http://i.imgur.com/Bp04i9Y.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
}
#container{
    width: auto;  /*generally 800px*/
    height:auto;
    margin:auto;
    margin-top: 1px; /*from the top of the pg*/
    margin-bottom:21px; /*margin all the way ard the webpg when the screen size changes*/
}
#header{
    height:150px;
    background-color: none;
    font-family: Colfax;
    font-size: 120px;
    color:#2c3e50;
}
#main{
    background-image:none;
    background-repeat: no-repeat;
    background-size: 100%;
    width:800px;
    height:800px;
    /*background-color: #03c;*/
}
#footer{
    height:100px;
    margin-bottom: 21px;
    background-color:none;
    clear:both; clear /*the floating mainbody&sidebar*/
}
.bluebox2{
    width: 600px;
    height: 850px;
    text-align: center;
    margin:0 auto;
    background-color: rgba(52,73,94,0.7);
    border-radius: 8px;
    margin-top: 50px; /*supp to be 150 but backgrd:( */ 
    margin-left: 340px;
    padding-top: 10px;
}
#options{
    font-size: 16px;
    font-family: cursive;
    font-style: italic;
    box-sizing:inherit;
    width: 480px;
    height: 620px;
    padding: -50px;
    border-color:#FFA700;
    border-style: solid;
    border-width: medium;
    margin-top:10px;
    margin-left:0px;
}
/* the instruc */
.heading{
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffe4b2;
    margin-left:10px;
}
/* the completed modules */
h2 {
background-color:#FEFFED;
padding:15px;
width: 400px;
margin-left: 85px;
text-align:center;
border-radius:5px 5px 0 0;
font-family: 'Lobster', cursive;
}
/*the yellow box*/
input[type=submit] {
/* how far the yellow box is from the option box */
margin-top:10px; 
padding:10px;
text-align:center;
font-size:18px;
background:linear-gradient(#ffbc00 5%,#ffdd7f 100%);
border:2px solid #e5a900;
color:#fff;
font-weight:700;
cursor:pointer;
width:40%;
border-radius:5px
}
input[type=submit]:hover {
background:linear-gradient(#ffdd7f 5%,#ffbc00 100%)
}
#dropBox{
    visibility: hidden;
}