body{
     margin: 0 auto;
     background: url("http://i.imgur.com/Bp04i9Y.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
     /*background-image: url("http://i.imgur.com/Bp04i9Y.jpg");
     background-repeat: no-repeat;
     background-size: 100% 720px;
     background-position: center;*/
}
#header{
    height:150px;
    background-color: none;
    font-family: Colfax;
    font-size: 120px;
    color:#2c3e50;
}
#bluebox{
    width: 600px;
    height: 600px;
    text-align: center;
    margin:0 auto;
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin-top: 150px; /*supp to be 150 but backgrd:( */ 
    margin-left: 375px;
    padding-top: 20px;
}
#table{
    margin: 10px auto;
    text-align: center;
    font-weight: normal;
    width: 100%;
    color: white;
    border: 1px solid;
}
#table th{
    border-bottom: 1px solid #f6f6f6;
    padding: 2px;
    text-align: center;
    border: 1px solid;
}
#table td{
    border: 1px solid;
}
h1{
    text-align: center;
    color: white;
    border-bottom-style: groove;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-style: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: aquamarine;
}
p{
    color: white;
    margin-left: 8px;
    padding: 4px;
    text-align: left;
    font-weight: normal;
    font-family:serif;
    font-weight: bold;
    font-size: 20px;
}