body{
     margin: 0 auto;
     background: url("http://i.imgur.com/Bp04i9Y.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
}
#header{
    height:150px;
    background-color: none;
    font-family: Colfax;
    font-size: 120px;
    color:#2c3e50;
}
#footer{
    height:100px;
    margin-bottom: 21px;
    background-color:none;
    clear:both; clear /*the floating mainbody&sidebar*/
}
#bluebox{
    width: 900px;
    height: 500px;
    text-align: center;
    margin:0 auto;
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin-top: 100px; /*supp to be 150 but backgrd:( */ 
    margin-left: 200px;
    padding-top: 20px;
}
table{
    margin: 10px auto;
    text-align: center;
    font-weight: normal;
    width: 90%;
    color: white;
    border: 1px solid;
}
table th{
    border-bottom: 1px solid #f6f6f6;
    padding: 2px;
    text-align: center;
    border: 1px solid;
}
table td{
    border: 1px solid;
}
h1{
    width:90%;
    margin-left:45px;
    text-align: center;
    color: white;
    border-bottom-style: groove;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-style: groove;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: aquamarine;
}
p{
    color: white;
    margin-left: 8px;
    padding: 4px;
    text-align: left;
    font-weight: normal;
    font-family:serif;
    font-weight: bold;
    font-size: 20px;
}